/*
	@名称: base
	@功能: 重设浏览器默认样式
*/
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  height: 100%;
  color: #545454;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,
button,
input,
select,
textarea {
  font: 14px/1.5  "Microsoft YaHei", "simhei","\5b8b\4f53", Helvetica, arial, sans-serif;
}
input,
select,
textarea {
  font-size: 100%;
}
input,
select,
label {
  vertical-align: middle;
}
/* 去掉各Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit;
}
/* 去除默认边框 */
fieldset,
img {
  border: 0;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
/* 去掉列表前的标识, li 会继承 */
ol,
ul {
  list-style: none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
/* 统一上标和下标 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a {
  color: #0088CC;
  text-decoration: none;
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
  text-decoration: none;
}
/* 清理浮动 */
.fn-clear:before,
.fn-clear:after {
  content: "";
  display: table;
}
.fn-clear:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.fn-clear {
  zoom: 1;
}
/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
  display: none;
}
/* 设置内联, 减少浮动带来的bug */
.fn-left,
.fn-right {
  display: inline;
}
.fn-left {
  float: left;
}
.fn-right {
  float: right;
}
a:focus {
  outline: none;
}
a {
  blr: expression(this.onFocus=this.close());
}
a {
  blr: expression(this.onFocus=this.blur());
}
/*===================common============================*/
.fn-wh1010 {
  width: 1010px;
}
.fn-wh1000 {
  width: 1000px;
}
.fn-center {
  margin: 0 auto;
}
.fn-mt30 {
  margin-top: 30px;
}
.fn-mt15 {
  margin-top: 15px;
}
.fn-mr5 {
  margin-right: 5px;
}
.fn-ml5 {
  margin-left: 5px;
}
.fn-ml30 {
  margin-left: 30px;
}
.fn-ml10 {
  margin-left: 10px;
}
.fn-mt10 {
  margin-top: 10px;
}
.fn-mb10 {
  margin-bottom: 10px;
}
.fn-pl5 {
  padding-left: 5px;
}
.fn-pr5 {
  padding-right: 5px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1,
h2,
h3 {
  line-height: 1;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
.medias-right .medias-variable {
  float: right;
}
.layout {
  zoom: 1;
}
.layout:after {
  display: block;
  content: "";
  clear: both;
}
/*双飞翼（cy-LMR,cy-LR,cy-RL）*/
.cy-LR,
.cy-RL,
.cy-LMR {
  zoom: 1;
}
.cy-LR:after,
.cy-RL:after,
.cy-LMR:after {
  display: block;
  content: "";
  clear: both;
}
/*L-R*/
.cyLR-right {
  float: right;
  margin-left: -200px;
  width: 100%;
  position: relative;
}
.cyLR-Rcontent {
  margin-left: 200px;
}
.cyLR-left {
  float: left;
  width: 200px;
  position: relative;
}
/*R-L*/
.cyRL-right {
  float: right;
  width: 200px;
  position: relative;
}
.cyRL-left {
  float: left;
  margin-right: -200px;
  width: 100%;
  position: relative;
}
.cyRL-Lcontent {
  margin-right: 200px;
  position: relative;
  z-index: 1;
}
/*L-M-R*/
.cyLMR-left {
  float: left;
  margin-left: -100%;
  width: 200px;
  position: relative;
}
.cyLMR-min {
  float: left;
  width: 100%;
  position: relative;
}
.cyLMR-right {
  float: left;
  width: 200px;
  margin-left: -200px;
  position: relative;
}
.cyLMR-content {
  margin: 0 200px;
}
.row,
.col-lay-row {
  margin-left: -10px;
  margin-right: -10px;
}
.row:after,
.col-lay-row:after,
.row:before,
.col-lay-row:before {
  display: table;
  content: '';
}
.row:after,
.col-lay-row:after {
  clear: both;
}
.col-lay-1, .col-lay-2, .col-lay-3, .col-lay-4, .col-lay-5, .col-lay-6, .col-lay-7, .col-lay-8, .col-lay-9, .col-lay-10, .col-lay-11, .col-lay-12 {
  -moz-box-sizing : border-box ;
  -webkit-box-sizing : border-box ;
  box-sizing : border-box ;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.col-lay-1, .col-lay-2, .col-lay-3, .col-lay-4, .col-lay-5, .col-lay-6, .col-lay-7, .col-lay-8, .col-lay-9, .col-lay-10, .col-lay-11, .col-lay-12 {
  float: left;
}
.col-lay-1 {
  width: 8.33333333%;
}
.col-lay-2 {
  width: 16.66666667%;
}
.col-lay-3 {
  width: 25%;
}
.col-lay-4 {
  width: 33.33333333%;
}
.col-lay-5 {
  width: 41.66666667%;
}
.col-lay-6 {
  width: 50%;
}
.col-lay-7 {
  width: 58.33333333%;
}
.col-lay-8 {
  width: 66.66666667%;
}
.col-lay-9 {
  width: 75%;
}
.col-lay-10 {
  width: 83.33333333%;
}
.col-lay-11 {
  width: 91.66666667%;
}
.col-lay-12 {
  width: 100%;
}
.p-panel {
  -moz-box-sizing : border-box ;
  -webkit-box-sizing : border-box ;
  box-sizing : border-box ;
  background-color: #fff;
  padding: 0px 12px;
}
.p-panel .p-heading {
  padding: 12px 0px;
  border-bottom: 1px solid #2474bd;
}
.p-panel .p-heading .p-title {
  font-size: 17px;
  border-left: 4px solid #eea821;
  padding-left: 10px;
  font-weight: bold;
}
.p-panel .p-body {
  -moz-box-sizing : border-box ;
  -webkit-box-sizing : border-box ;
  box-sizing : border-box ;
  padding: 8px 0px;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity 0.15s linear;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: 0.9;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #1097ff;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #1097ff;
  border-radius: 4px;
}
.jf-top {
  min-width: 1024px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  position: relative;
  z-index: 99;
}
.jf-top-title {
  float: left;
  padding-left: 64px;
  font-size: 24px;
  height: 70px;
  color: #0e88c7;
  line-height:70px;
}
.jf-top-title:before {
  content: '';
  height: 100%;

  display: inline-block;
  vertical-align: middle;
}
.jf-top-title > * {
  display: inline-block;
  vertical-align: middle;
}
.jf-top-bar {
  float: right;
  height: 70px;
  padding-right: 10px;
  line-height: 70px;
}
.jf-top-bar:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.jf-top-bar > * {
  display: inline-block;
  vertical-align: middle;
}
.jf-top-bar ul {
  overflow: hidden;
}
.jf-top-bar ul li {
  float: left;
  color: #0e88c7;
}
.jf-top-bar ul li a {
  font-size: 16px;
  color: #0e88c7;
  margin: 0px 18px;
}
.jf-top-bar ul .last {
  border-right: none;
}
.jf-top-bar .user-bar li {
  float: left;
}
.jf-top-bar .user-bar li a {
  font-size: 14px;
  color: #0e88c7;
}
.menu-nav {
  width: 100%;
  background: #eee;
  min-width: 1024px;
  text-align: center;
}
#menu-nav ul li {
  float: left;
  margin-top: 10px;
}
.menu-navUl {
  display: inline-table;
  width: 45%;
  height: 52px;
  overflow: hidden;
}
.menu-navUl > li {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
.menu-navUl > li a {
  display: inline-block;
  width: 100%;
  border-right: 1px solid #e5e5e5;
  font-size: 18px;
  color: #000;
}
.menu-navUl > li a:hover {
  text-decoration: none;
}
.menu-navUl > li:hover {
  border-bottom: 4px solid #0090ff;
}
.menu-navUl > li:hover a {
  color: #0090ff;
}
.menu-navUl .on {
  border-bottom: 4px solid #0090ff;
}
.menu-navUl .on a {
  color: #0090ff;
}
.menu-navUl-3 > li {
  width: 20%;
}
.tree-menu dl {
  font-size: 16px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #fff;
}
.tree-menu dl * {
  font-size: inherit;
}
.tree-menu dl dt {
  padding: 0.6em 1em;
  cursor: pointer;
  background-color: #c6daff;
}
.tree-menu dl dd {
  padding: 0em 1em;
  overflow: hidden;
  display: none;
}
.tree-menu dl dd a {
  display: block;
  padding: 0.6em 1em;
  border-bottom: 1px solid #fff;
  color: #545454;
}
.tree-menu dl dd a:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.tree-menu dl dd a > * {
  display: inline-block;
  vertical-align: middle;
}
.tree-menu dl dd a em {
  font-size: 16px;
  color: #0090ff;
  margin-right: 6px;
}
.tree-menu dl dd a:hover span {
  color: #0090ff;
}
.tree-menu dl dd .a_on span {
  color: #0090ff;
}
.tree-menu .dl_on dd {
  display: block;
}
.tree-tools {
  padding: 6px 10px;
  background-color: #85b0ff;
  overflow: hidden;
}
.tree-tools a {
  float: left;
  margin-right: 20px;
  color: #fff;
}
.tree-tools a i {
  margin-right: 2px;
}
.tree-tools .tools-delete {
  float: right;
  margin-right: 0px;
}
body {
  background-color: #f1f1f1;
  min-width: 1024px;
}
.menu-content {
  background-color: #fff;
  margin-bottom: 20px;
}
.search-nav {
  width: 1025px;
  margin: 0 auto;
  height: 46px;
}
.search-nav li {
  float: left;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
}
.search-nav li:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.search-nav li > * {
  display: inline-block;
  vertical-align: middle;
}
.search-nav li span {
   display: inline-block;
   padding-right: 54px;
   padding-left: 54px;
   height: 26px;
   color: #a3a3a3;
   border-right: 1px solid #e5e5e5;
   line-height: 26px;
   font-size: 18px;
 }
.search-nav li span a{
  color: #a3a3a3;
  font-size: 18px;
}
.search-nav li:hover span {
  color: #0090ff;
}
.search-nav li:last-child span {
  border-right: none;
}
.search-nav li .last-childSpan {
  border-right: none;
}
.search-nav .on span {
  color: #0090ff;
}
.search-nav .on span a{
  color: #0090ff;
}
.search-sub {
  width: 100%;
  height: 200px;
  background-color: #349ef0;
  text-align: center;
}
.search-sub:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.search-sub > * {
  display: inline-block;
  vertical-align: middle;
}
.search-sub > li {
  width: 1000px;
}
.simple-search {
  width: 928px;
  height: 40px;
  margin: 86px auto;
  position: relative;
  background-color: #fff;
}
.simple-search input {
  display: block;
  width:878px;
  color: #a3a3a3;
  float: left;
  padding: 0;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-indent:10px;
  border: none;
  outline: none;
}
.simple-search button {
  padding: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  display: block;
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  background: url("../images/search_btn_1.jpg") no-repeat;
}
.mazy-search {
  margin: 40px auto 0;
  width: 1000px;
}
.mazy-search > div {
  -moz-box-sizing : border-box ;
  -webkit-box-sizing : border-box ;
  box-sizing : border-box ;
  float: left;
  width: 31%;
  margin: 0 10px 10px;
}
.mazy-search .mazy-btns-div {
  width: 100%;
  display: block;
  text-align: right;
  padding-right: 30px;
}
.mazy-search .mazy-btns-div button {
  display: inline-block;
  cursor: pointer;
  width: 86px;
  height: 34px;
  border: none;
  background-color: #ffaa05;
  font-size: 18px;
  color: #fff;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.ui-selectmenu-button {
  width: 100% !important;
  height: 40px;
  background-color: #fff;
  border: none;
  text-indent: 10px;
}
.ui-selectmenu-button span.ui-selectmenu-text {
  font-size: 18px;
  line-height: 40px;
  padding: 0;
}
.ui-selectmenu-button span.ui-icon {
  width: 0px;
  height: 0px;
  right: 12px;
  top: 50%;
  margin-top: -4px;
  border-width: 8px;
  border-style: solid dashed dashed dashed;
  border-color: #0090ff transparent transparent transparent;
}
.ui-selectmenu-menu .ui-menu {
  border: none;
  overflow: hidden;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item {
  margin-left: 0px;
  margin-right: 0px;
}
.f-lay {
  display: inline-table;
  table-layout: fixed;
}
.f-lay > * {
  display: table-cell;
  vertical-align: middle;
}
.f-lay > .f-opt {
  padding: 0em 0.8em;
  width: 0px;
}
.f-lay > .f-oth {
  padding: 0em 0.8em;
  width: 60px;
}
.search-show {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
.search-show .f-lay {
  width: 100%;
  cursor: pointer;
  height: 44px;
  border-bottom: 1px dotted #dcdcdc;
}
.search-show .f-lay .f-ody,
.search-show .f-lay .f-oth {
  font-size: 14px;
}
.search-show .f-lay .f-ody:before {
  content: '·';
  color: #2474bd;
  margin-right: 2px;
}
.search-show .f-lay .f-oth {
  text-align: right;
}
.search-show .f-lay:hover .f-ody,
.search-show .f-lay:hover .f-oth {
  color: #2474bd ;
}
.p-panel {
  margin-bottom: 20px;
}
.jf-dialog .layui-layer-title {
  background-color: #85b0ff;
  border-bottom: none;
  color: #fff;
  font-size: 16px;
}

.p-title .p-title-span{
  display: block;
  float: left;
  margin-right: 10px;
}
.p-title .numStyle{
  width: 16px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: block;
  float: left;
  margin: 0 2px;
  color: #fff;
  background: #9d9d9d;
  font-style: normal;
  font-size: 22px;
  font-weight: normal;
}
