<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>检索历史-全球互联网信息情报监测平台</title>

    <!--<link rel="shortcut icon" href="/images/LOGO.png"/>-->
    <link href="/common/plugins/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/common/plugins/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/css/seminar_index.css" rel="stylesheet"/>


    <!-- commonjs start -->
    <script type="text/javascript" src="/common/js/date.js"></script>
    <script type="text/javascript" src="/common/plugins/laydate/laydate.js"></script>
    <script type="text/javascript" src="/common/plugins/jmm/md5.js"></script>
    <script type="text/javascript" src="/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="/common/js/template.js"></script>
    <script type="text/javascript" src="/common/js/map.js"></script>
    <script type="text/javascript" src="/common/js/common.js"></script>
    <script type="text/javascript" src="/common/plugins/jmm/base64.js"></script>
    <!-- commonjs end -->

    <script src="/js/jqPaginator-min.js"></script>
    <script src="/common/plugins/layer/layer.js"></script>
    <script type="text/javascript" src="/js/subject/subject.js"></script>

    <style>
        .my-contlist ul .checkList {
            position: relative;
            border-bottom: 1px solid #e2e2e2;
        }

        .my-contlist ul li .con-item-title {
            color: #004edd;
            font-size: 14px;
            padding: 0;
            margin: 10px 0 5px;
            height: 20px;
            overflow: hidden;
        }
        h1,h2,h3,h4,h5,h6{
            color: inherit;
            font-size:inherit;
            font-weight:normal;
        }
        .my-contlist ul li .con-item-pcon {
            min-height: 20px;
            font-size: 12px;
        }

        .my-contlist ul li .contlist-check {
            position: absolute;
            left: -20px;
            top: 0;
        }

        .my-contlist ul li .con-item-bottom a {
            color: #8f9db7;
        }

        .jf-pagination .total {
            color: #12396b;
            padding: 4px 7px;
            border: 1px solid #c5c5c5;
            margin-right: 10px;
        }

        .page-list {
            float: right;
        }

        .page-list li a {
            color: #12396b;
        }

        .jf-pagination {
            margin: 20px 0;
            height: 20px;
        }
        .addBriefingBox{
            display: none;
            position: absolute;
            width: 130px;
            border:1px solid #8f9db7;
            padding:10px;
            z-index: 9999;
            background: #fff;
        }
        .addBriefingBox-l{ top: 22px;left: -112px;}
        .addBriefingBox-r{ top: 0px;left: 62px;}
        .infoMoveSelect li{display: block;width: 100%;}
        .infoMoveSelect li:hover{background: #95B8E7;}
    </style>
</head>
<body>

<div class="ajaxHtml" url="/common/htmls/jftop.html" id="jf-top"></Div>

<div class="ajaxHtml menu-bar" url="/common/htmls/jfmenu.html" id="jf-menu"></div>

<div class="Popup-box" style="display:none;height:50px;min-width: 200px;padding:15px 10px;background: #85B0FF; color: #fff;position: fixed;top:10px;left: 50%;margin-left: -100px;z-index: 999;text-align: center;"></div>
<div id="journaldefineAdd" style="height: 100px;margin-top: 30px;display:none;">
    <div style="width: 28%;float: left;font-size: 14px;text-align: right;padding-right: 10px;margin-top: 27px;">简报名称</div>
    <input id="journaldefineName" type="text" style="display:block;padding: 0px 10px;float: left; height: 40px; width: 50%; font-size: 16px; box-shadow: none; border: 1px solid rgb(149, 184, 231); border-radius: 5px; margin: 20px auto 0;">
</div>
<div class="menu-content">
    <div class="f-lay">
        <div class="f-opt" style="width: 20%;padding-right: 0;padding-left:0;float: left">
            <div class="lay-fixed" id="jf-tree">
                <!--tree start -->
                <div id="tree-menu" class="tree-menu">
                    <dl id="searchHistory" mount="false">
                        <dt>检索历史</dt>
                        <dd id="group-history">
                            <script id="group-history-tpl" type="text/html">
                                {{each datas as value}}
                                <a href="javascript:void(0);" class="tree-a" idname="{{value.key}}"
                                   onclick="treeChlidClickKey(this,4,'{{value.key}}')"><em
                                        class="fa fa-caret-right"></em><span>{{value.data.name}}</span></a>
                                {{/each}}
                            </script>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="f-ody" style="width:78%;padding-right: 0;padding-left:0;float: right">
            <div class="seminar-content" id="seminar-content">
                <!--历史检索 开始-->
                <div id="seminar-contlist4" class="my-contlist">
                    <script type="text/html" id="seminar-contlist-tpl4">
                        <div class="seminar-tools">
                            <ul class="seminar-tools-left">
                                <li class="SelectAll" onclick="checkAll('#seminar-contlist4', ' .SelectAll')"><i class="fa fa-square-o fa-lg "></i>全选</li>
                                <li class="Reverse" onclick="Reversecheck('#seminar-contlist4',' .Reverse')"><i class="fa fa-square-o fa-lg "></i>反选
                                </li>
                            </ul>
                            <ul class="seminar-tools-right">
                                <li title="加入简报" onclick="addother(event,this,false,'#seminar-contlist4')" style="position: relative;">
                                    <i class="fa fa-plus-square"></i>
                                    <div class="addBriefingBox">
                                    </div>
                                </li>
                                <li title="设置已读" onclick="ReadUnread('read',true,'#searchHistory','#seminar-contlist4',false,this)"><i class="fa fa-envelope"></i></li>
                                <li title="收藏" onclick="addToFavorite('#seminar-contlist4',false,this)"><i class="fa fa-star"></i>
                                </li>
                                <li title="刷新" onclick="historyytree('idname',false)"><i class="fa fa-repeat"></i></li>
                            </ul>
                        </div>
                        <ul class="checkAll">
                            <li class="nullContList4" style="display: none;">没有匹配到相关内容</li>
                            {{each data.es.hits.hits as value}}
                            <li class="checkList">
                                <input type="checkbox" class="contlist-check" infoId="{{value._id}}" collectInfoIds="{{value._id}}"
                                       infoTitle="{{value._source.title}}" infoSummary="{{value._source.summary}}"
                                       infoTime="{{value._source.createtime}}" infoHost="{{value.sourceSite}}"
                                       infoIp="{{value._source.ip}}" infoEsIndex="{{value._index}}"
                                       infoEsKeyword="{{value._source.keyword}}"/>
                                <a href="content.html?esId***{{value.base64esId}}***{{data.keyword}}***{{value._index}}"
                                   target="_blank" class="con-item-title" onclick="ReadUnread('read',true,'#searchHistory','#seminar-contlist4',true,this)">{{#value._source.title}}</a>
                                {{if value._source.summary}}
                                <p class="con-item-pcon">{{#value._source.summary}}</p>
                                {{/if}}
                                <div class="con-item-bottom">
                                    <a href="fanyi.html?{{value.base64esId}}" target="_blank">翻译</a>
                                    <a href="/XUserSystem/zh/es/{{value.base64esId}}/snapshot/ver.do"
                                       target="_blank">快照</a>
                                    <a href="{{value._source.url}}" target="_blank">查看原文</a>
                                    <span>{{value._source.updatetime}}</span>
                                    <a href="{{value.sourceSite}}" target="_blank">{{value.sourceSite}}</a>
                                    <span style="color: #093F96;cursor: pointer;position: relative;" onclick="addother(event,this,true,'#seminar-contlist4')">加入简报<div class="addBriefingBox"></div></span>
                                    <span style="color: #093F96;cursor: pointer;" onclick="addToFavorite('#seminar-contlist4',true,this)">收藏</span>
                                    {{if value._source.read}}
                                    <span class="icon-envelope"><i class="fa fa-envelope-o"></i><span class="my-envelope">已读</span> </span>
                                    {{else}}
                                    <span class="icon-envelope"><i class="fa fa-envelope"></i><span class="my-envelope"> 未读</span></span>
                                    {{/if}}
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </script>
                </div>
                <!--历史检索 结束-->
            </div>
            <div class="jf-pagination" id="jf-pagination">
                <span class="total"></span>
                <ul id="pagination1" class="page-list"></ul>
            </div>
        </div>
    </div>
</div>
<div id="infoMoveList" style="display: none;">
    <ul class="infoMoveSelect">
        <script id="infoMoveList-tpl" type="text/html">
            <p  style="color:#0e88c7;height:20px;line-height: 20px;" class="none_msg">未添加任何简报</p>
            {{each data as value}}
            <li idname="{{value.id}}">{{value.name}}</li>
            {{/each}}
        </script>
    </ul>
</div>
<div id="getCollectInfoBox" style="display: none;">
    <script id="getCollectInfoBox-tpl" type="text/html">
        <div class="getCollectInfoCopy">
            <span>总共期数：{{data.count}}期</span>
            <select onchange="journalCon(this)">
                <option selected disabled="true">请选择</option>
                {{each data.collect as value}}
                <option  value='{{value.journalId}}'>{{value.number}}</option>
                {{/each}}
            </select>
        </div>
    </script>
</div>

<div id="gCIDtlBox" style="display: none;">
    <script id="gCIDtlBox-tpl" type="text/html">
        <div class="gCIDtlBoxCopy">
            <span style="color: #1097ff; margin: 0 10px;">{{data.collect.number}}</span>开始日期：<span style="color: #1097ff; margin: 0 10px;">{{data.collect.bgDate}}</span>结束日期：<span style="color: #1097ff; margin: 0 10px;">{{data.collect.edDate}}</span>
        </div>
    </script>
</div>


</body>
<script>
    subject_init();
    //step 4 添加检索历史
    jiansuolishi_menu();
    //建立简报添加树列表
    jianbao_menu_MoveList();
</script>

</html>
